doctype html
html
  head
    title {{status-code}}  {{status-message}} | Corvo HTTP Server
    meta(name = 'viewport', content = 'width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
    style {{css-bootstrap}}
    style {{css-style}}
  body#error
    header
      .summary
        span.code {{status-code}}
        span.message {{status-message}}
    .content {{status-description}}
    footer
      | Powered by 
      a(href = '#') Corvo HTTP Server 1.0
