html { background: #FBFBFB; }

header {
  padding: 50px 0;
  background: linear-gradient(-40deg, #02C4E0 0%,#B27BD8 100%);
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,1);
}

header .summary {
  color: white;
  font-size: 32px;
  font-family: 'Helvetica Neue', 'Segoe UI', sans-serif;
  text-align: center;
}

header .summary .code {
  font-weight: bold;
}

header .summary .message {
  font-weight: 100;
  white-space: nowrap;
}

div.content {
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  text-align: center;
  color: #777;
  line-height: 1.4;
}

footer {
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  text-align: center;

  text-align: center;
  font-size: 10px;
  color: #999;
}

footer a {
  color: #02C4E0;
  text-decoration: none;
}

ul.dir-list {
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.dir-list > li {

}

@media (min-width: 768px) {
  header .summary { font-size: 48px; }
}

@media (min-width: 991px) {
  header .summary { font-size: 54px; }
}
