html, body {
  background: #F1F1F1;
  font-family: 'Helvetica Neue', 'Segoe UI', 'Arial', sans-serif;
}

header.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: linear-gradient(-40deg, #02C4E0 0%,#B27BD8 100%);
}

header.navbar svg {
  margin: 15px;
  height: 20px;
  width: 132px;
}

div.content {
  margin: 100px auto 0 auto;
  padding: 15px;
  max-width: 450px;
  text-align: center;
  color: #AAA;
}

div.content .error-code,
div.content .error-msg {
  font-size: 16px;
}

div.content .error-code {
  font-weight: bold;
}

div.content .error-msg {
  font-weight: thin;
}

div.content p {
  font-size: 12px;
}

.error-wrapper {
  padding: 10px;
  border-radius: 6px;
  border: 2px solid #BBB;
  display: inline-block;
}

.error-wrapper span + span { margin-left: 6px; }


@media (min-width: 768px) {
  div.content .error-code,
  div.content .error-msg {
    font-size: 24px;
  }
}

@media (min-width: 991px) {
  div.content .error-code,
  div.content .error-msg {
    font-size: 32px;
  }
}
